<html>

<head>
<title>Icare-ROR-2019</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- NOTE: margin property = top-right-bottom-left -->
<style type="text/css">

	body {background-color: #e2e2e2}
    
    p.topLevelItemTitle {
    	margin: 30px 0px 5px 0px;
    	font-family: Times, Times New Roman, Palatino, Cochin, Serif;
    	font-size: 30px;
    	}
    	
    p.folderTitle {
    	margin: 30px 0px 5px 0px;
    	font-family: Times, Times New Roman, Palatino, Cochin, Serif;
    	font-size: 18px;
    	}
    
    p.itemTitle {
    	margin: 30px 0px 5px 0px;
    	font-family: Helvetica, Arial, Sans-Serif;
    	font-size: 12px;
    	font-weight: bold;
    	}
    	
    p.itemText {
    	margin: 0px 0px 10px 0px;
    	font-family: Helvetica, Arial, Sans-Serif;
    	font-size: 12px;
    	}
    	
    p.itemTextStart {
    	margin: 30px 0px 10px 0px;
    	font-family: Helvetica, Arial, Sans-Serif;
    	font-size: 12px;
    	}
    
    .page {border: 1px solid #c0c0c0; background: #fff}
    
    hr {
        border: none;
        height: 1px;
        color: #d4d4d4;
        background-color: #d4d4d4;
      	}
      	
    hr.afterTitle {
    	margin-top: -3px;
    }
      	
    hr.afterText {
    	margin-top: 30px;
    }
      	
    ul {
      	list-style-type: none;
      	padding-left: 30px;
      	}
      	
</style>

</head>

<body>

<table border="0" width="100%" cellspacing="3">
<tr>
<td>

<table class="page" width="100%" cellspacing="10" cellpadding="2">

<!-- Top margin -->
<!-- Not needed, because of the padding above titles. -->
<!--<tr><td height="15px"></td></tr>-->

<tr>

<!-- 42 + 30 of list indent = 72 - one inch. -->
<!-- Actually that ends up too much, so we do 25 + 30 = 55px. -->
<td width="25px">

<td valign="top">

<ul>
<li>
<p class="topLevelItemTitle">Introduction</p>
<p class="itemText">Ce manuel présente l'utilisation du site de l'atelier Icare en version Ruby On Rails mise en place en 2019.</p>
</li>
<li>
<p class="topLevelItemTitle">User</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">Possessions</p>
<p class="itemText">Un user peut posséder :</p>
<p class="itemText"> • un seul profil (question : faut-il détacher le profil de l'enregistrement simple ?)</p>
<p class="itemText"> • un ou plusieurs icmodules (modules icariens), actifs ou non</p>
<p class="itemText"> • des messages frigo</p>
<p class="itemText"> • des icetapes (étapes de modules icariens)</p>
<p class="itemText"> • des icdocuments (document de travail propres aux modules)</p>
<p class="itemText"> • des tickets</p>
<p class="itemText"> • des watchers (opération atelier)</p>
<p class="itemText"> • des actualités</p>
<p class="itemText"> • des témoignages</p>
<p class="itemText"> • des questions mini-faq</p>

</li>
<li>
<p class="itemTitle">Propriétés directes</p>
<p class="itemText">J'appelle "propriétés directes" les propriétés qui ne dépendent pas d'autres objets. C'est le cas par exemple de l'adresse email ou du pseudo.</p>
<p class="itemText"></p>
<p class="itemText">id</p>
<p class="itemText">Identifiant absolu de l'utilisateur (icarien-ne).</p>
<p class="itemText">email</p>
<p class="itemText">Son adresse email, validée</p>
<p class="itemText">name</p>
<p class="itemText">Pseudo utilisé sur le site (obligatoire)</p>
<p class="itemText">nom</p>
<p class="itemText">Nom réel de l'icarien (obligatoire)</p>
<p class="itemText">prenom</p>
<p class="itemText">Prénom réel de l'icarien (obligatoire)</p>
<p class="itemText">password_digest</p>
<p class="itemText">Mot de passe encrypté</p>
<p class="itemText">statut</p>
<p class="itemText">Bits des privilèges (cf. Statut)</p>
<p class="itemText">options</p>
<p class="itemText">Options diverses (cf. Options)</p>
<p class="itemText">created_at</p>
<p class="itemText">Date de cr...</p>
</li>
<li>
<p class="itemTitle">Statut</p>
<p class="itemText">Propriété privileges</p>
<p class="itemText"></p>
<p class="itemText">0 Simple inscrit</p>
<p class="itemText">1 Simple icarien</p>
<p class="itemText">2 Rédacteur (de ?)</p>
<p class="itemText">4 Administrateur</p>
<p class="itemText">8 Grand manitou</p>
<p class="itemText"></p>
<p class="itemText">Donc : </p>
<p class="itemText">14 : tous les droits (super administrateur, rédacteur)</p>
<p class="itemText">6  : administration et rédaction (4 + 2)</p>
</li>
<li>
<p class="itemTitle">Options</p>
<p class="itemText">Propriété : options</p>
<p class="itemText">C'est un mot de 32 chiffres où chaque chiffre représente une option.</p>
<p class="itemText"></p>
<p class="itemText">BIT (le premier chiffre est le nombre pour la base de données)</p>
<p class="itemText">1 (0)  État : 0 = à confirmer/1 = actif/2=en pause/3=inactif/9=détruit</p>
<p class="itemText">2 (1)  Confirmation du mail : 0 = non confirmé</p>
<p class="itemText">3 (2)  Redirection après l'identification </p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="topLevelItemTitle">Modules Icariens</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">AbsModules</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'un module d'apprentissage absolu sont :</p>
<p class="itemText"></p>
<p class="itemText">has_many :ic_modules</p>
<p class="itemText">has_many :users, through :ic_modules</p>
<p class="itemText"></p>
<p class="itemText">has_many :documents, through: :ic_modules (fonctionne ?)</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">name</p>
<p class="itemText">Nom humain du module</p>
<p class="itemText">P.e. « Structure »</p>
<p class="itemText">dim</p>
<p class="itemText">Diminutif, pour les noms par exemple. </p>
<p class="itemText">p.e. "Stt" pour "Structure"</p>
<p class="itemText">module_id</p>
<p class="itemText">ID du module absolu avant 2016.</p>
<p class="itemText">tarif</p>
<p class="itemText">Tarif en euros du module (mensualité pour les modules à durée indéfinie)</p>
<p class="itemText">nombre_jours</p>
<p class="itemText">Durée en nombre de jour du module. Si nil, c'est un module à durée indéter...</p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">IcModules</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'un module d'apprentissage d'icarien sont :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :user</p>
<p class="itemText">belongs_to :abs_module</p>
<p class="itemText">has_many :paiements</p>
<p class="itemText">has_many :pauses</p>
<p class="itemText">has_many :ic_etapes</p>
<p class="itemText"></p>
<p class="itemText">has_many :documents, through: :ic_etapes</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">project_name</p>
<p class="itemText">Nom du projet (son titre) s'il en a un</p>
<p class="itemText">state</p>
<p class="itemText">Etat du module (nouvelle propriété). Cf. State</p>
<p class="itemText">options</p>
<p class="itemText">OBSOLÈTE (cf. le fichier Options)</p>
<p class="itemText">started_at</p>
<p class="itemText">Date de démarrage du module</p>
<p class="itemText">Avant : starting_at</p>
<p class="itemText">ended_at</p>
<p class="itemText"></p>
<p class="itemText">Date de fin du module (réelle, pas une pause)</p>
<p class="itemText">Avant : ending_at</p>
<p class="itemText">next_paiement</p>
<p class="itemText">La d...</p>
</li>
<li>
<p class="itemTitle">State</p>
<p class="itemText"></p>
<p class="itemText">Statut (état) du module (propriété :state)</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">Valeurs</p>
<p class="itemText">Description</p>
<p class="itemText">0</p>
<p class="itemText">Module en attente de démarrage</p>
<p class="itemText">1</p>
<p class="itemText">Module d'apprentissage en cours de travail</p>
<p class="itemText">2</p>
<p class="itemText">Module d'apprentissage en pause</p>
<p class="itemText">3</p>
<p class="itemText">Module terminé normalement</p>
<p class="itemText">4</p>
<p class="itemText">Module interrompu/abandonné</p>
<p class="itemText">5</p>
<p class="itemText"></p>
<p class="itemText">6</p>
<p class="itemText"></p>
<p class="itemText">7</p>
<p class="itemText"></p>
<p class="itemText"></p>

</li>
<li>
<p class="itemTitle">Options</p>
<p class="itemText">Options pour l'ic-module.</p>
<p class="itemText"></p>
<p class="itemText">OBSOLÈTE — Mais il faut passer les valeurs du bit 0 dans la propriété :state.</p>
<p class="itemText"></p>
<p class="itemText"> Bit</p>
<p class="itemText">Valeurs possibles</p>
<p class="itemText">0</p>
<p class="itemText">1</p>
<p class="itemText">cf. state</p>
<p class="itemText">1</p>
<p class="itemText">2</p>
<p class="itemText"></p>
<p class="itemText">2</p>
<p class="itemText">3</p>
<p class="itemText"></p>
<p class="itemText">3</p>
<p class="itemText">4</p>
<p class="itemText"></p>
<p class="itemText">4</p>
<p class="itemText">5</p>
<p class="itemText"></p>
<p class="itemText">5</p>
<p class="itemText">6</p>
<p class="itemText"></p>
<p class="itemText">6</p>
<p class="itemText">7</p>
<p class="itemText"></p>
<p class="itemText"></p>

</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">AbsEtapes</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'une étape de module d'apprentissage absolu sont :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :abs_module</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">numero</p>
<p class="itemText">Numéro de l'étape (de 1 à 999)</p>
<p class="itemText">type</p>
<p class="itemText">(nouvelle propriété) Type de l'étape. Cf. Type.</p>
<p class="itemText">titre</p>
<p class="itemText">Titre de l'étape</p>
<p class="itemText">objectif</p>
<p class="itemText">L'objectif à atteindre au cours de cette étape</p>
<p class="itemText">travail</p>
<p class="itemText">Définition du travail (HTML). Note : peut être une liste de travaux.</p>
<p class="itemText">methode</p>
<p class="itemText">Éléments de méthode</p>
<p class="itemText">travaux</p>
<p class="itemText">OBSOLÈTE</p>
<p class="itemText">duree</p>
<p class="itemText">Nombre de jours par défaut pour cette étape.</p>
<p class="itemText">duree_max</p>
<p class="itemText">La durée maximum acceptable pour cette étape.</p>
<p class="itemText">liens</p>
<p class="itemText">Li...</p>
</li>
<li>
<p class="itemTitle">Type</p>
<p class="itemText"></p>
<p class="itemText">Types de l'étape absolue (propriété :type)</p>
<p class="itemText"></p>
<p class="itemText">Note : ce sont des bits qui s'additionnent (bit|bit)</p>
<p class="itemText">Valeurs</p>
<p class="itemText">Description</p>
<p class="itemText">0</p>
<p class="itemText">Aucun type</p>
<p class="itemText">1</p>
<p class="itemText">Travail sur la structure</p>
<p class="itemText">2</p>
<p class="itemText">Travail sur les personnages</p>
<p class="itemText">4</p>
<p class="itemText">Travail sur les thèmes</p>
<p class="itemText">8</p>
<p class="itemText">Travail sur les intrigues</p>
<p class="itemText">16</p>
<p class="itemText">Travail sur un document en particulier (synopsis, pitch, etc.)</p>
<p class="itemText">32</p>
<p class="itemText">Travail de recherche d'idées</p>
<p class="itemText">64</p>
<p class="itemText">Travail de réflexion</p>
<p class="itemText">128</p>
<p class="itemText">Travail de rédaction</p>
<p class="itemText">256</p>
<p class="itemText">Travail d'affinement, de finalisation</p>
<p class="itemText"></p>

</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">IcEtapes</p>
<p class="itemText">Les étapes des modules d'icariens</p>
</li>
<hr class="afterText"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'une étape de module d'apprentissage d'icarien sont :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :ic_module</p>
<p class="itemText">belongs_to :abs_etape</p>
<p class="itemText">belongs_to :user, through :ic_module</p>
<p class="itemText">has_many :documents</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">status</p>
<p class="itemText">Statut de l'étape. Cf. Statuts</p>
<p class="itemText">options</p>
<p class="itemText">Options de l'étape, quelques valeurs utiles, fixes ou mobiles. Cf. Options</p>
<p class="itemText">travail_propre</p>
<p class="itemText">Éventuellement, le travail propre de l'étape, ou un travail supplémentaire pour l'étape.</p>
<p class="itemText">started_at</p>
<p class="itemText">Date de démarrage de l'étape. Elle pourrait être définie lorsque l'user arrive sur son bur...</p>
</li>
<li>
<p class="itemTitle">Statuts</p>
<p class="itemText"></p>
<p class="itemText">Statuts de l'étape (propriété :status)</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">Valeurs</p>
<p class="itemText">Description</p>
<p class="itemText">0</p>
<p class="itemText">Jamais affecté</p>
<p class="itemText">1</p>
<p class="itemText">Étape démarrée, l'icarien y travaille (valeur par défaut)</p>
<p class="itemText">2</p>
<p class="itemText">L'icarien a remis son travail, mais il n'est pas encore reçu</p>
<p class="itemText">3</p>
<p class="itemText">Travail téléchargé par Phil</p>
<p class="itemText">4</p>
<p class="itemText">Dépôt des commentaires (mais l'icarien ne les a pas téléchargé)</p>
<p class="itemText">5</p>
<p class="itemText">L'icarien télécharge ses commentaires</p>
<p class="itemText">6</p>
<p class="itemText">Dépôt des documents sur le QDD (donc il faut que l'icarien ait téléchargé ses commentaires)</p>
<p class="itemText">7</p>
<p class="itemText">Définition du partage des documents par l'icarien (fin de cycle)</p>
<p class="itemText"></p>

</li>
<li>
<p class="itemTitle">Options</p>
<p class="itemText">Options pour l'ic-étape.</p>
<p class="itemText"></p>
<p class="itemText"> Bit</p>
<p class="itemText">Valeurs possibles</p>
<p class="itemText">0</p>
<p class="itemText">1</p>
<p class="itemText">Bit d'avertissement d'échéance d'étape dépassée</p>
<p class="itemText">De 0: pas d'avertissement à 9: tous les avertissements ont été donnés, on considère l'icarien comme déserteur.</p>
<p class="itemText">1</p>
<p class="itemText">2</p>
<p class="itemText">Réalité de l'étape</p>
<p class="itemText">1: l'étape est considérée comme "réelle" (*). 0: l'étape n'est pas réelle.</p>
<p class="itemText">(*) Une étape « réelle » sera comptabilisée dans les modules à durée déterminée qui doivent suivre 8 étapes en général.</p>
<p class="itemText">2</p>
<p class="itemText">3</p>
<p class="itemText"></p>
<p class="itemText">3</p>
<p class="itemText">4</p>
<p class="itemText"></p>
<p class="itemText">4</p>
<p class="itemText">5</p>
<p class="itemText"></p>
<p class="itemText">5</p>
<p class="itemText">6</p>
<p class="itemText"></p>
<p class="itemText">6</p>
<p class="itemText">7</p>
<p class="itemText"></p>
<p class="itemText"></p>

</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">Pauses</p>
<p class="itemText">Les pauses des modules d'icarien.</p>
</li>
<hr class="afterText"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'un module d'apprentissage d'icarien sont :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :ic_module</p>
<p class="itemText"></p>
<p class="itemText">started_at</p>
<p class="itemText">La date du début de la pause (ne pas utiliser created_at car la donnée peut être créée plus tard)</p>
<p class="itemText">ended_at</p>
<p class="itemText">Date de la fin de la pause</p>
<p class="itemText">motif</p>
<p class="itemText">Motif de la pause</p>
<p class="itemText"> + les timestamps par défaut, created_at et updated_at</p>
<p class="itemText">     </p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">IcDocuments</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'un document de module d'apprentissage d'icarien sont :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :ic_etape</p>
<p class="itemText">belongs_to :ic_module, through :ic_etape</p>
<p class="itemText">belongs_to :user, through :ic_etape</p>
<p class="itemText"></p>
<p class="itemText">has_many :lectures</p>
<p class="itemText"></p>
<p class="itemText">original_name</p>
<p class="itemText">Le nom original du fichier tel qu'il a été transmis</p>
<p class="itemText">doc_affixe</p>
<p class="itemText">Affixe donné au document</p>
<p class="itemText">expected_comments_at</p>
<p class="itemText">Date espérée de remise des commentaires</p>
<p class="itemText">OBSOLÈTE : c'est l'étape qui porte cette donnée.</p>
<p class="itemText">commented_at</p>
<p class="itemText">Date effective de remise des commentaires</p>
<p class="itemText">note_auteur</p>
<p class="itemText">La note donnée par l'auteur à...</p>
</li>
<li>
<p class="itemTitle">Options</p>
<p class="itemText">Options pour `original_options` et `comments_options`, les options des deux documents, original et commenté.</p>
<p class="itemText"></p>
<p class="itemText"> Bit</p>
<p class="itemText">Valeurs possibles</p>
<p class="itemText">0</p>
<p class="itemText">1</p>
<p class="itemText">Existence</p>
<p class="itemText">1: Le document existe, 0: le document  n'existe pas</p>
<p class="itemText">1</p>
<p class="itemText">2</p>
<p class="itemText">Partage</p>
<p class="itemText">0: non défini, 1: partagé, 2: non partagé</p>
<p class="itemText">2</p>
<p class="itemText">3</p>
<p class="itemText">Téléchargement (user ou admin)</p>
<p class="itemText">0: non chargé, 1: chargé (par l'admin si original, par l'icarien si comments)</p>
<p class="itemText">3</p>
<p class="itemText">4</p>
<p class="itemText">Présence sur le QDD</p>
<p class="itemText">0: non déposé, 1: déposé sur le QDD</p>
<p class="itemText">4</p>
<p class="itemText">5</p>
<p class="itemText">Définition du partage (obsolète, cf. le 2ème bit)</p>
<p class="itemText">5</p>
<p class="itemText">6</p>
<p class="itemText">Fin du cycle de ...</p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">Lectures</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés des lectures d'un document sont :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :ic_document</p>
<p class="itemText">belongs_to :user, as: lecteur</p>
<p class="itemText">belongs_to :user, through :ic_document, as: auteur</p>
<p class="itemText"></p>
<p class="itemText">comments</p>
<p class="itemText">Commentaire éventuel du lecteur</p>
<p class="itemText">original_cote</p>
<p class="itemText">Cote sur 5 attribuée par le lecteur au document original</p>
<p class="itemText">comments_cote</p>
<p class="itemText">Cote sur 5 du lecteur au document commenté</p>
<p class="itemText"> + les timestamps par défaut, created_at et updated_at</p>
<p class="itemText">     </p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">Paiements</p>
<p class="itemText">Les paiements concernant un module d'icarien.</p>
<p class="itemText"></p>

</li>
<hr class="afterText"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'un module d'apprentissage d'icarien sont :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :ic_module</p>
<p class="itemText">belongs_to :user, through :ic_module</p>
<p class="itemText"></p>
<p class="itemText">objet</p>
<p class="itemText">Objet du paiement</p>
<p class="itemText">montant</p>
<p class="itemText">Montant du paiement en euros</p>
<p class="itemText">facture</p>
<p class="itemText">Le texte de la facture complète (HTML)</p>
<p class="itemText">note</p>
<p class="itemText">Une note (de l'admin) sur ce paiement</p>
<p class="itemText"> + les timestamps par défaut, created_at et updated_at</p>
<p class="itemText">     </p>
</li>
</ul>
</ul>
<hr class="afterText"/>

<li>
<p class="topLevelItemTitle">Quotidien programmation</p>
<p class="itemText">Opérations de dépôt</p>
<p class="itemText"> $ git add -A  # pour ajouter les nouveaux fichiers</p>
<p class="itemText"> $ git commit -am "Message dépôt"  # pour faire un nouveau dépôt</p>
<p class="itemText"> $ git push  # pour déposer ce dépôt</p>
<p class="itemText"> $ git push heroku master  # pour actualiser ce dépôt sur heroku</p>
<p class="itemText">Ajout d'un nouveau gem</p>
<p class="itemText">Quand on ajoute un nouveau gem, il faut :</p>
<p class="itemText"></p>
<p class="itemText"> $ bundler install --without production </p>
<p class="itemText"></p>
<p class="itemText">Puis exécuter les opérations de dépôt ci-dessus.</p>
</li>
<li>
<p class="topLevelItemTitle">Tickets</p>
<p class="itemText">Pour créer un ticket à quelqu'un :</p>
<p class="itemText"></p>
<p class="itemText"> ticket = Ticket.new(</p>
<p class="itemText">  name: '<nom générique>', </p>
<p class="itemText">  action: '<code à exécuter>|<route>',</p>
<p class="itemText">  [duree: <durée de vie du ticket>]</p>
<p class="itemText"> )</p>
<p class="itemText"> <user>.tickets.create(ticket.hash_to_create)</p>
<p class="itemText"></p>
<p class="itemText">Par exemple :</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText"> ticket = Ticket.new(name: 'activation_compte', action: "User.find(#{benoit.id}).confirm_compte", duree: 2.days)</p>
<p class="itemText"> # Crée un objet qui possède les propriétés :</p>
<p class="itemText"> # :name, :digest, :action, :token, :expire_at</p>
<p class="itemText"> autre_ticket = benoit.tickets.create(ticket.hash_to_create)</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">Note...</p>
</li>
<li>
<p class="topLevelItemTitle">ActionWatchers</p>
<p class="itemText">Watchers</p>
<p class="itemText">Réflexion</p>
<p class="itemText">Adopte-t-on le même fonctionnement que sur l'ancien site ? C'est-à-dire que les actions sont déclenchées par des notifications complexes.</p>
<p class="itemText">À quoi est-ce que ça ressemblerait dans une application Rails ?</p>
<p class="itemText"></p>
<p class="itemText">Il y aurait un model ActionWatcher qui serait en même temps un observateur et une action possible. Il surveille d'un côté et opère de l'autre.</p>
<p class="itemText">Est-ce qu'il faudrait des AbsActionWatcher qui correspondraient aux choses à faire ? Par exemple, quand l'icarien doit procéder à un pa...</p>
</li>
<hr class="afterText"/>
<ul>
<li>
<p class="itemTitle">Propriétés</p>
<p class="itemText">Les propriétés d'un action_watcher :</p>
<p class="itemText"></p>
<p class="itemText">belongs_to :user</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">model</p>
<p class="itemText">Modèle qui sera touché par l'actionwatcher</p>
<p class="itemText">Avant : `objet`.</p>
<p class="itemText">model_id</p>
<p class="itemText">Identifiant de l'instance du modèle.</p>
<p class="itemText">Avant : `objet_id`</p>
<p class="itemText">action_watcher_path</p>
<p class="itemText">Path de l'action watcher, là où se trouve ses fichiers.</p>
<p class="itemText">Avant : `processus`</p>
<p class="itemText">triggered_at</p>
<p class="itemText">Date où le watcher doit être déclenché. Par exemple, pour un paiement, quelques jours avant son échéance.</p>
<p class="itemText">Avant : `trigerred`</p>
<p class="itemText">data</p>
<p class="itemText">Éventuellement les données dont a besoin l'action-watcher. </p>
<p class="itemText">TODO : voir ...</p>
</li>
<li>
<p class="itemTitle">Création</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">De l'action-watcher lui-même</p>
</li>
<hr class="afterTitle"/>
<ul>
<li>
<p class="itemTitle">Création du dossier et contenu</p>
<p class="itemText">Le plus simple est d'utiliser mon générateur rails :</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText"> $ rails g action_watcher <nom_du_watcher>[ <options>]</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">Cela crée tout ce qu'il faut dans le dossier ./lib/action_watchers/<nom_du_watcher>/</p>
<p class="itemText"></p>
<p class="itemText">Les options peuvent définir les mails à créer dans le dossier. Par défaut, les mails envoyés à la création du watcher ne sont pas copiés. On les ajoute avec :</p>
<p class="itemText"> --mails-before # pour les créer les deux</p>
<p class="itemText"> --mail-admin-before</p>
<p class="itemText"> --mail-user-before</p>
<p class="itemText">Par défaut, les mails envoyés à l'exécution du watcher sont ...</p>
</li>
<li>
<p class="itemTitle">Modification du mail envoyé</p>
<p class="itemText">Le mail envoyé à l'exécution peut être modifié de deux façons. La première consiste à mettre une alternative dans le mail (if… else… end), le second consiste à modifier le nom du mail choisi.</p>
<p class="itemText">Modification par alternative</p>
<p class="itemText">Par exemple dans .../mailto_admin_after.html.erb</p>
<p class="itemText"></p>
<p class="itemText"> <% if cest_ce_cas_la %></p>
<p class="itemText">  ... contenu du mail ...</p>
<p class="itemText"> <% else %></p>
<p class="itemText">  ... contenu alternatif</p>
<p class="itemText"> <% end %></p>
<p class="itemText"></p>
<p class="itemText">Modification du mail utilisé</p>
<p class="itemText">Par défaut, c'est le mail `mailto_<qui>_after.html.erb` qui est utilisé. On peut modifier ce nom en ...</p>
</li>
<li>
<p class="itemTitle">Interruption de l'action-watcher</p>
<p class="itemText">Dans le programme (méthode `execute`), on peut interrompre la procédure avec la tournure :</p>
<p class="itemText"></p>
<p class="itemText"> def execute</p>
<p class="itemText">  ...</p>
<p class="itemText">  interrupt and return</p>
<p class="itemText">  ...</p>
<p class="itemText"> end</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">Cela produit l'interruption totale du processus. Les mails `after` ne seront pas envoyés et l'action-watcher ne sera pas détruit. </p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">De l'association</p>
<p class="itemText">On crée un action-watcher avec :</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText"> <user>.action_watchers.create(<hash data>)</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">Hash data doit impérativement comporter :</p>
<p class="itemText"></p>
<p class="itemText"> :path ou :name ou :action ou :action_watcher_path</p>
<p class="itemText">  Le chemin d'accès au dossier contenant les éléments du watchers, à partir de</p>
<p class="itemText">  ./lib/action_watchers/</p>
<p class="itemText">  Par exemple 'user/traitement_candidature'</p>
<p class="itemText">  Bien sûr, ce path doit renvoyer à un dossier existant.</p>
<p class="itemText"></p>
<p class="itemText"> :model (String) et :model_id (Integer) ou :objet (instance de class :model)</p>
<p class="itemText">  L'objet visé par l'action-watcher, par e...</p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="itemTitle">Notes</p>
<p class="itemText">Peut-être mettre les dossiers des actions-watchers dans lib/ et utiliser `require_dependency` pour les utiliser. En fait, il semble que 'require_dependency' recharge vraiment, même la seconde fois.</p>
<p class="itemText">Pour pouvoir utiliser require_dependency, il faut ajouter dans le fichier config/application.rb :</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText"> config.watchable_dirs['lib'] = [:rb]</p>
<p class="itemText"></p>
<p class="itemText"></p>
<p class="itemText">Note : en fait, j'ai utilisé simplement `load` et ça fonctionne.</p>
</li>
</ul>
<hr class="afterText"/>

<li>
<p class="topLevelItemTitle">Essayer une URL</p>
<p class="itemText">Pour essayer une url, on peut ajouter le paramètre `urltry` à l'url. Cela ajoute un "essayer l'URL : ...." dans l'entête.</p>
</li>
</ul>

</td>
<td width="55px">
</td>
</tr>

<!-- Bottom margin -->
<tr><td height="15px"></td></tr>

</table>

</td>
</tr>
</table>

</body>
</html>
