<% provide(:title, 'Bienvenue !') %>
<h2>Candidature enregistrée</h2>
<div class="container">
  <div class="col-md-7 justify">
    <p><%= @user.name %>, votre candidature pour rejoindre l’atelier Icare a bien été enregistrée.</p>
    <p>Elle sera examinée dans les prochains jours par Phil et une réponse vous sera communiquée à l'adresse <%= @user.email %>.</p>
    <p>
    En attendant, vous pouvez visiter <%= link_to 'votre profil', @user %>, ou consulter <%= link_to 'l’aide', help_path %> pour tout savoir de l'atelier Icare et de son fonctionnement.
    </p>
    <p>
    Au plaisir de vous compter peut-être bientôt parmi nous,
    </p>
    <p>
    Ernest, le bot de l’atelier Icare.
    </p>
  </div>
</div>
