<p>Bienvenue sur l’accueil de l’atelier d’écriture Icare.</p>

<%= link_to 'Les Icarien(ne)s', users_path, class: 'btn btn-secondary' %>
<!--
  TODO  Ajouter la citation du jour
 -->
<!--
TODO Ajouter les actualités (dernières activités)
 -->
<div class="row">
  <%= link_to "Essai ticket", 'http://localhost:3000/tickets/6/Gm_TS-b0oF7LtX7c-oBTaA' %>
</div>
