-# # Ce message sera envoyé à l'administration APRÈS L'EXÉCUTION du watcher
-# # Avec le sujet suivant :
- aw = action_watcher
- aw.subject = "Email envoyé à l'admin à l'exécution du watcher"

.container
  Je suis un mail envoyé à l'exécution de l'action-watcher.
.container
  -# Ci-dessous, l'utiliastion d'une méthode d'helper pour définir le mail
  L'objet visé par ce watcher est un
  = objet_designation
