<%
#
# Mail envoyé à l'ADMIN À L'EXÉCUTION de l'action watcher
#
# L'action-watcher est bindé à cette vue
#
self.subject = "Email de test envoyé à l'ADMIN à l'EXÉCUTION du watcher"
%>

<div class="container">
  Je suis un mail envoyé à l'EXÉCUTION de l'action-watcher.
</div>
<div class="container">
  Je suis un mail envoyé à l'EXÉCUTION de l'action-watcher.
  <%= objet_designation %>
</div>
