<%
#
# Mail envoyé à l'USER À L'EXÉCUTION de l'action watcher
#
# L'action-watcher est bindé à cette vue
#
self.subject = "Confirmation de paiement du module"
%>
<p><%= user.pseudo %>,</p>
<p>Je vous confirme le paiement de votre <%= designation_for(objet) %>.</p>
<p>[TODO Facture]</p>
<p>Bien à vous et merci de votre confiance,</p>
<p>Administration de l’atelier Icare</p>
