<h2>Liste des modules d'apprentissage proposés</h2>
<% @absmodules.each do |amod| %>
  <p>
    <a href="/modules/<%= amod.id%>"><%= amod.titre %></a>
  </p>
<% end %>
<!-- Pour la création d'un nouveau module -->
<p class="container">
  <%= form_tag "/modules", method: 'POST' do %>
    <p>
      <label for="module_titre">Titre</label>
      <input type="text" id="module_titre" name="module[titre]" value="" />
    </p>
    <p>
      <label for="module_dim">Diminutif</label>
      <input type="text" name="module[dim]" id="module_dim" value="">
    </p>
    <p>
      <label for="module_short_description">Description courte</label>
      <textarea name="module[short_description]" id="module_short_description" rows="8" cols="80"></textarea>
    </p>
    <p>
      <label for="module_long_description">Description longue du module</label>
      <textarea name="module[long_description]" id="module_long_description" rows="8" cols="80"></textarea>
    </p>
    <p>
      <input type="submit" name="" value="Créer le nouveau module absolu">
    </p>
  <% end %>
</p>
