<% set_title('Liste des modules d’apprentissage')%>

<%= render @absmodules %>

<!-- Pour la création d'un nouveau module -->
<div class="container">
  <%= form_tag "/modules", method: 'POST' do %>
  <% end %>
</div>
