<% set_title( 'Module %{name}' % {name: @absmodule.name} )%>

<p>
  <%= link_to 'Liste des modules', abs_modules_path %>
</p>

<%= render 'abs_module', abs_module: @absmodule %>

<!-- TODO Mettre ici la liste des étapes, pour voir -->
<ul id="liste_etapes" class="container">
  <%= render @absmodule.abs_etapes, format: :short %>
</ul>
