<p><%= @greeting %>,</p>
<p>
  Veuillez cliquer sur le lien ci-dessous pour ré-initialiser votre mot de passe.
</p>
<p>
  <%= lien_vers(@ticket) %>
</p>

<p>Attention, ce lien expirera dans deux heures.</p>
