<p><%= @greeting %>,</p>
<p>
  Veuillez cliquer sur le lien ci-dessous pour ré-initialiser votre mot de passe.
</p>
<p>
  <%= link_to(I18n.t('user_mailer.reset_password.mail_link'), @url_for_ticket) %>
</p>

<p>Attention, ce lien expirera dans deux heures.</p>
