-# Notification pour le bureau de l'user/icarien
-#
- aw = action_watcher
-# Mettre ici le code qui devra apparaitre sur le bureau, soit une simple
-# information soit un formulaire permettant de jouer l'action-watcher.
-# Voir le détail dans le fichier d'aide Scrivener
[ICI UN FORMULAIRE POUR ENVOYER LE TRAVAIL]

-# TODO note : si l'icetape n'a pas de date de démarrage, la définir ici,
-# ça signifie que l'user voit ce travail pour la première fois.
