<%
# partiel pour afficher une étape
#
# On peut définir :format pour dire ce qu'il faut afficher. On peut avoir
# les valeurs :
#
#   format: :complet      Affichage de toutes les informations
#   format: :simple       Le format le plus simple, avec des boutons
#
%>

<li class="container">
  <div class="row">
    <%= abs_etape.numero %> <%= abs_etape.titre %>
  </div>
  <% if format == :complet %>
    <div class="row">
      <%= abs_etape.travail %>
    </div>
  <% else %>
    <div class="row">
      <%= link_to 'voir', abs_etape_path(abs_etape) %>
    </div>
  <% end %>
</li>
