- absetape = @absetape
- etape_name_simple = ('Module “%s”<br>Étape absolue %i (#%i)' % [absetape.abs_module.name, absetape.numero, absetape.id]).html_safe
- set_title(etape_name_simple)
= render absetape
