<%
#
# Mail envoyé à l'USER À L'EXÉCUTION de l'action watcher
#
aw = action_watcher
aw.subject = "Email de test envoyé à l'USER à l'EXÉCUTION du watcher"
%>

<div class="container">
  Je suis un mail envoyé à l'EXÉCUTION de l'action-watcher.
</div>
<div class="container">
  Je suis un mail envoyé à l'EXÉCUTION de l'action-watcher.
  <%= objet_designation %>
</div>
