<%
# Ce message sera envoyé à l'user À L'EXÉCUTION du watcher
# Avec le sujet suivant :
self.subject = "Email de test envoyé à l'exécution du watcher à l'utilisateur"

%>
<div class="container">
  Je suis un mail envoyé à un utilisateur à l'exécution du action-watcher.
</div>
<div class="container">
  L'objet est de classe <%= objet.class %> et d'identifiant <%= objet.id %>.
</div>
