<%
#
# Mail envoyé à l'USER à la CRÉATION du watcher
#
aw = action_watcher
aw.subject = "Email de test envoyé à l'USER à la CRÉATION du watcher"
%>

<div class="container">
  Je suis un mail envoyé à la CRÉATION de l'action-watcher.
</div>
<div class="container">
  Je suis un mail envoyé à la CRÉATION de l'action-watcher.
  <%= objet_designation %>
</div>
