-# Notification pour le bureau de l'user/icarien
-#
- aw = action_watcher
Vos documents de
= "l’<strong>#{designation_for(aw.objet)}</strong>".html_safe
sont en lecture. Les commentaires devraient vous parvenir autour du
= "<strong>#{aw.human_date_commentaires_et_delai}</strong>.".html_safe
