-# Notification pour le bureau de l'administrateur
-#
- aw = action_watcher
-# Mettre ici le code qui devra apparaitre sur le bureau, soit une simple
-# information soit un formulaire permettant de jouer l'action-watcher.
-# Voir le détail dans le fichier d'aide Scrivener
[FORMULAIRE PERMETTANT À L'ADMINISTRATEUR DE REMETTRE LES COMMENTAIRES]
