<%
#
# Mail envoyé à l'USER À L'EXÉCUTION de l'action watcher
#
# L'action-watcher est bindé à cette vue
#
self.subject = "Les commentaires sur vos documents n'attendent plus que vous"
%>
<p><%= user.name %>,</p>
<p>[TODO MESSAGE À ÉTABLIR]</p>
<p>[TODO LIen pour rejoindre le bureau]</p>
<p>Bonne lecture !</p>
<p>Ernest, le bot <%= etat_bot %> de l’atelier Icare</p>
