-# Notification pour le bureau de l'user/icarien
-#
- aw = action_watcher
- absmodule = aw.objet.abs_module
%h4 Démarrage de module d’apprentissage
= form_for('start', url: aw.form_url) do
  %small
    = "Votre module d'apprentissage “#{absmodule.name}” est en attente de démarrage."
  .center.vair
    = submit_tag ('Démarrer le module “%s”' % [absmodule.name]), class: 'btn btn-lg btn-primary'
