<%
#
# Mail envoyé à l'USER À L'EXÉCUTION de l'action watcher
#
# L'action-watcher est bindé à cette vue
#
self.subject = "Confirmation du démarrage de votre module d'apprentissage"
%>
<div>
  <%= user.name %>,
</div>
<div>
  Je vous confirme le bon démarrage de votre module d'apprentissage “<%= objet.abs_module.name %>”.
</div>
<div>
  Bonne chance et bonne inspiration à vous dans votre travail !
</div>
<div>
  Ernest, le bot-manutentionnaire de l'atelier Icare
</div>
