-# Notification pour le bureau de l'user/icarien
-#
- aw = action_watcher
- minif = aw.objet
= "Votre question “<strong>#{minif.question}</strong>” concernant l’#{designation_for(minif.abs_etape)} est en cours d’étude.".html_safe
