<%
#
# Mail envoyé à l'USER À L'EXÉCUTION de l'action watcher
#
# L'action-watcher est bindé à cette vue
#
self.subject = "Réponse donnée à une de vos questions mini-faq"
%>

<div class="container">
<p>Une réponse à été donnée à votre question <%= objet.question %>.</p>
<p>Vous pouvez ne trouver la réponse sur <%= link_to 'votre bureau', bureau_url %>.</p>
</div>
