<%# Pour les messages d'erreur de toutes les parties %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |fmessage| %>
          <li><%= fmessage %></li>
        <% end %>
        <%# /boucle sur chaque message %>
      </ul>
    </div>
  </div>
<% end %>
<%# /s'il y a des erreurs %>
