<%
# Ce message sera envoyé à la création même du watcher

self.subject = "Email de test envoyé à la création du watcher à l'administrateur"

%>
<div class="container">
  Je suis un mail envoyé à la création de l'action-watcher.
</div>
<div class="container">
  L'objet est de classe <%= objet.class %> et d'identifiant <%= objet.id %>.
</div>
