
<h1 id="logo" class="container">Atelier Icare</h1>
<p>
  Bonjour <%= @pseudo_user %>, comment allez-vous ?
  <%= t('hello') %>
</p>
<p>
  Voir la <a href="/modules">liste des modules d’apprentissage</a>.
</p>
