- if action_watcher.notification_for?(current_user)
  %li
    = render file: "/lib/action_watchers/#{action_watcher.notification_partial(current_user)}",
        handlers: :haml,
        locals: {action_watcher: action_watcher}
