<%
# Ce message sera envoyé à l'user du watcher à la création même du watcher
# Avec le sujet suivant :
self.subject = "Email de test envoyé à la création du watcher à l'utilisateur"

%>
<div class="container">
  Je suis un mail envoyé à un utilisateur à la création de l'action-watcher.
</div>
<div class="container">
  L'objet est de classe <%= objet.class %> et d'identifiant <%= objet.id %>.
</div>
