- set_title('Paiement effectué')
.container-fluid
  .col.col-md-6.col-md-offset-3
    Votre paiement a été effectué avec succès. Nous vous en remercions.
.row.center.vair
  .col.col-md-6.col-md-offset-3.vair
    = link_to 'Retourner dans votre bureau', bureau_path
