#statut_icarien.container-fluid{style:'margin-bottom:2rem;'}
  .row
    .col-sm-4.col-sm-offset-1.text-primary.bg-light.text-md-right
      Votre statut
    .col-sm-5.text-white.bg-primary.center
      = human_statut(current_user)
