<% set_title('Votre bureau') %>
<p>
  TODO Ici sera présenté votre bureau de travail, comme un tableau de bord général.
</p>

<%# Affichage des actions-watchers de l'icarien %>
<%= render @user.action_watchers %>
