// Place all the styles related to the ActionWatchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.action-watcher {
  border: 3px solid;
  border-radius: 4px;
  margin-bottom:  4px;
}
li.main-action-required {
  border-color: #FF0000 !important;
}
li.action-required {
  border-color: #00AA00 !important;
}
li.simple-notice {
  border-color: #CCCCCC !important;
  font-size:  0.95em;
  * {
    font-size:  0.95em;
  }
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
