
$darktheme: #578088;
$lightertheme: #0893ac;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

header {
  background-color:  $darktheme !important;
  color: white;
  &.navbar, .navbar {
    border-radius: 0!important;
    margin-bottom:  0!important;
  }
  *, *:hover {
    color: white;
    text-decoration: none;
  }
  #toprow {
    li, li a {
      display: inline;
    }
    a:hover, a:hover * {
      color: $darktheme;
    }
  }

  #logo  {
    font-weight:  bold !important;
    text-shadow: 2px 2px #3d4060;
    font-size: xx-large;
    &:hover {
      color:inherit!important;
    }
  }
}

.signin-button {
  color: yellow!important;
  &:hover {
    color:$darktheme!important;
  }
}

.debug_dump {
  clear:  both;
  width:        80%;
  margin-left:  10%;
  margin-right: 10%;
  float:  left;
  margin-top: 5em;
  @include box_sizing;
}

.italic {
  font-style: italic !important;
}
.right {
  text-align: right;
}
.fright {float: right}
.fleft  {float: left}
.center {
  text-align: center;
}
.justify {
  text-align: justify!important;
}
.vair { /* pour "vertical air" */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hair { /*  pour "horizontal air"*/
  margin-left: 1rem;
  margin-right: 1rem;
}

.border {
  border: 1px solid green!important;
}
/* Dès qu'on utilise la class .checkbox pour un checkbox*/
.checkbox {
  margin-top:     10px;
  margin-bottom:  10px;
  span {
    margin-left:  20px;
    font-weight:  normal;
  }
}
#session_remember_me {width: auto;margin-left:0}

img.gravatar {
  border-radius: 100%;
}
