/* Formulaire */
@import 'custom'; /* pour avoir les mixins */

input[type="text"], textarea, select, .uneditable-input {
  border: 1px solid #BBBBBB;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type="text"] {
  height: auto!important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
