<%
#
# Mail envoyé à l'ADMIN À L'EXÉCUTION de l'action watcher
#
# L'action-watcher est bindé à cette vue
#
self.subject = I18n.t('user_mailer.candidature.nouvelle.subject')
%>

<div class="container">
  <p>Phil,</p>
  <p>Je t'informe qu’une nouvelle candidature vient d'être déposée à l’atelier.</p>
  <p>Candidature de <%= designation_for(self.user, {with_ids: true}) %>.</p>
</div>
