<%
#
# Mail envoyé à l'USER à la CRÉATION du watcher
#
self.subject = I18n.t('user_mailer.candidature.confirmation.subject')
%>
<p>
  <%= user.name %>,
</p>
<p>
  Je vous confirme la bonne réception de votre dossier de candidature à l'atelier Icare.
</p>
<p>
  Vous recevez une réponse de Philippe Perret (alias « Phil »), pédagogue de l'atelier, dans les jours prochains.
</p>
<p>
  En vous remerciant de votre intérêt pour l'atelier,
</p>
<p>
  L'administration de l'atelier Icare
</p>
